.reserva-container {
    display: grid;
    grid-template-columns: auto auto 400px;
    grid-template-areas: 'form  form card'
                          "calendario calendario card"
                           "hour hour hour"
                            'error error error';
    padding-inline: 4rem;
    gap: 1.4rem;
    margin-block-end: 2rem;

}

.reserva-container-header {
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    padding-block: 0.5rem;
    align-items: center;
    background-color: var(--searchBar-color);
    color: var(--text-color-header-footer);

}
.reserva-container-header svg {
    cursor: pointer;
}
.title-service {
    margin-block: 1rem;

}
.reserva-header-title {
    padding-inline: 1rem;
    padding-block-start: 0.5rem;
    /* font-family: 'Roboto'; */
font-style: normal;
font-weight: 700;
font-size: 24px;
color: var( --searchBar-color);
}
.produto-logado-wrapper {
    grid-area: form;
    padding: 1rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);

    margin-block-start: 2%;
}
.calendario-reserva {
    grid-area: calendario;
    margin-block-end: 1rem;
}
.reserva-card {
    width: 100%;
    height: 580px;
   box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 1px solid var(-color-button);
    grid-area: card;
    margin-block-start: 20px;

}

.reserva-image{
    width: 100%;
    height: 230px;
}

.MuiSvgIcon-fontSizeSmall {
    font-size: 14px !important;
    color: var(--color-header-footer);
}

.reserva-title {
    color: var( --searchBar-color);
    font-weight: 700;
}

.reserva-body {
    padding: 1rem;
}

.reserva-type {
    font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 14px;


/* B - DB COLOR 2 */
color: var(--searchBar-color);

}

.reserva-title {
    /* font-family: 'Roboto'; */
font-style: normal;
font-weight: 700;
font-size: 24px;

}
.error-message {
    grid-area: error;
}

.reserva-location {
    /* font-family: 'Roboto'; */
font-style: normal;
font-weight: 500;
font-size: 12px;
color: var(--searchBar-color)
}

.reserva-underline {
    border: 1px solid var(--color-button);
    margin-block: 1rem;
}

.reserva-data{
    display: flex;
    justify-content: space-between;
}
.reserva-data p {
  font-weight: 700;
  color: var(--searchBar-color)
}

.reserva-btn {
    width: 100%;
    background: var( --color-header-footer) ;
    color: var(--text-color-header-footer);
    font-weight: 700;
    height:40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
border-radius: 5px;
border: none;
}

.horas-wrapper{

    grid-area: hour;
}

.horas-chegada {
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    background: var(  --text-color-header-footer) ;
    border-radius: 5px;
    padding-inline: 2rem;
    padding-block-start: 1rem;
    border: none;
    color: var(---searchBar-color);
   margin-block-end: 2rem;
}

.horas-chegada svg {
    margin-inline-end: 0.5rem;
} 

.horas-chegada div {
    margin-block-end: 1rem;
}

.data-paragrafo {
    margin-block-end: 1rem;
}

.MuiAutocomplete-root {
    width: 400px !important;
    height: 60px !important;
    
}
.disabled {
    background-color: rgba(74, 74, 74, 0.155);
}

@media only screen and (max-width: 600px) {
    .reserva-container  {
        grid-template-columns: 1fr;
        grid-template-areas: 'form'
                             'calendario'
                             'hour'
                             'card'
                             'error';
        padding-inline: 1rem;
     }
   
     .produto-logado-wrapper {
        grid-template-columns: 1fr;
        gap: 0;
        
    }
   .horas-chegada {
    padding-inline: 0.5rem;
   }

    .MuiAutocomplete-root {
        width: 300px !important;
        height: 60px !important;
        position: relative;
        
    }
    .reserva-container-header {
        padding-inline: 1rem;
    }
  }

  @media screen and ( min-width: 600px) and (max-width: 820px) {

 

    .reserva-container  {
        grid-template-columns: auto;
        grid-template-areas: 'form'
                             'calendario'
                             'hour'
                             'card'
                             'error';
        padding-inline: 4rem;
     }

     .reserva-card {
        display: flex;
        height: 300px;
        justify-content: space-around;
        margin-block-end: 1rem;
        grid-area: inherit;
     }

     .reserva-image {
        width: 100%;
        height: 230px;
        border-radius: 5px;
       
     }
     .reserva-underline {
       margin-block-end: 0.1rem;
     }
     .reserva-body {
        padding-inline: 1rem;
        padding-block-start: 2.5rem;
     }


    }