.card{
  width: 23rem;
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  height: fit-content;
}

.cardDark{
  background-color: #31313196;
}

.inputSpacing + .inputSpacing {
  margin: 1rem 0;
  color: red;
}
